@page
@model AboutModel
@{
    ViewData["Title"] = "About";
}

<div class="row" style="margin-top:10%;">
    <div class="col-5 my-auto" style="text-align:center;">
        <img width="90%" src="/images/ET.png" />
    </div>
    <div class="col-7 my-auto">
        <h1 class="text-primary" style="font-weight:bold;">ABOUT ME</h1>
        <h5 class="text-dark">Ervin Tuzlić - Software Engineer</h5><br />
        <h6 class="text-secondary" style="font-size:17px;">Software engineer eager to devote his full attention to the world of programming.
            As someone who studies software engineering, I have experience in ASP.NET MVC, HTML, CSS,
            JavaScript, and jQuery, and I am quite familiar with the syntax and logic of C++ and C#. <br /><br />
            With the help of Udemy, I perfected many courses and got certifications for the same:<br />
            • Certificated in Bblblblblb<br />
            • Certificated in Lblbblblb<br />
            • Certificated in Bllbblblb<br />
            • Certificated in lblbblblblll<br /><br />
            I have a strong passion for programming, but I have also spent a significant part of my life in the
            design industry, gaining three years of expertise in using tools like Photoshop, Adobe Illustrator,
            Figma, and others to create magic. <br /><br />
            Among my soft skills, I would single out patience, problem-solving, open-mindedness, accountability,
            and adaptability.
            <br />
            As someone who always likes to learn something new and get to know every corner of IT, I look
            forward to new collaborations and programming problems that are waiting for me to solve!</h6> <br />
        <button type="submit" class="btn btn-outline-primary" style="height:50px;"><b>Check out my projects!</b></button>
    </div>
</div>