@{
    ViewData["Title"] = "Home Page";
}

<div class="row" style="margin-top:5%;">
    <div class="col-6 my-auto">
        <h1 class="text-primary py-1" style="text-align: left">Hello, my name is Ervin!</h1>
        <h5 class="text-secondary py-1" style="text-align: left">I'm 22 years old and I study Software Engineering at Faculty of Information Technology</h5>
        <h6 class="text-secondary py-1" style="text-align: left">Click on the button to learn more about me!</h6>
        <button type="submit" class="btn btn-primary my-2 w-50" style="height:50px; font-weight:bold"><a style="color:white; text-decoration:none;" asp-controller="About" asp-action="Index">READ MORE</a></button>
        <div class="row-cols-4 mt-3">
            <a href="https://www.linkedin.com/in/ervin-tuzlic-b33311241/" target="_blank"><i class="bi bi-linkedin btn-outline-primary btn col-1" style="font-size:1.1em;transition:0.2s;"></i></a>
            <a href="https://github.com/ervintuzlic" target="_blank"><i class="bi bi-github btn-outline-primary btn col-1" style="font-size:1.1em; transition:0.2s;"></i></a>
        </div>
    </div>
    <div class="col-6">
        <img style="width:650px; height:650px;" src="/images/Frame275.png" />
    </div>
</div>
