html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

html, body {
    min-height: 100%;
    height: 100%;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px;
}

#neki {
    font-size: 17px;
    color: white;
    font-weight: 500;
    margin-left: 20px;
    margin-right: 20px;
    width: 100%;
    text-align: center;
    opacity: 1;
    transition: 0.2s;
}

#linav {
    transition: 0.2s;
}

#neki:hover {
    color: white;
    font-weight: 700;
    background-color: #0B5ED7;
    border-radius: 8px;
}

#ProjectFile {
    border: 1px #191919 solid;
    transition: 0.2s;
}

#ProjectFile:hover {
    background-color: #191919;
    border: 2px solid #0B5ED7;
}

#ProjectFile:hover img{
    opacity:0.4;
}

#ProjectFile:hover .card-body{
    opacity:0.4;
}

#buttonProject {
    width: 240px;
    font-size: 24px;
    font-weight: 500;
    height: 55px;
    position: absolute;
    left: 22%;
    top: 40%;
    opacity: 0;
    border: 1px #0B5ED7 solid;
    transition: 0.2s;
    text-align:center;
}
    #buttonProject:hover {
        font-size: 26px;
        box-shadow: 10px 10px;
    }

#ProjectFile:hover a {
    opacity:1;
}
