@model IEnumerable<ErvinPortfolio.Models.Project>

<div class="row">
<div class="row mt-4" style="justify-content:center;">
	<h1 class="text-primary mt-2" style="text-align:center;font-weight:700;padding-bottom:1%;">PROJECTS</h1>
	@foreach(var project in Model)
	{
		<div id="ProjectFile" class="card col-sm-4" style="margin:20px;padding:0;">
					<img id="ProjectSlika" src="@project.ImageUrl" />
					<a asp-controller="Project" asp-action="Details" id="buttonProject" type="submit" class="btn btn-primary form-control" asp-route-id="@project.Id">READ MORE</a>
					<div class="card-body" style="background-color: #191919;">
						<div class="pl-1">
							<h1 style="text-align:center;color:white;" class="card-title h4">@project.Name</h1>
						</div>
					</div>
		</div>
	}
</div>
</div>